:root {
  --bg-color: #f6f8ff;
  --white: #fefefe;
  --primaryBlue: #0079ff;
  --lightBlue: #60abff;
  --dark: #2b3442;
  --bgdark-color: #141d2f;
  --bgcarddark: #1e2a47;
  --grey: #697c9a;
  --bgSecondary: #4b6a9b;
  --darkgrey: #222731;
}

.form input:active,
input:focus,
input::after {
  outline: none !important;
  background-color: none !important;
}
.form.dark input {
  background-color: none !important;
}

.form.dark input::placeholder {
  color: var(--white);
}
